body{
    background-color: #dbae32;
    color: rgb(140, 27, 216);
    text-align: justify;
    font-size: 20px;
    padding: 0 24px;

}

.texto-um{
    color: #5238b3;
    font-size: 24px;
}

.texto-dois{
    color: #5f2b9b;
    font-size: 24px;
}

.paragrafo{
    font-size: 18px;
}

.rodape{
    text-align: justify;
    display: grid;
    font-size: 15px;
    color: rgb(101, 31, 167);
}

.imagem{
    width: 30%;
}
